* {
    font-family:Georgia, 'Times New Roman', Times, serif ;
}


.container {
    color:white;
}

ul li a{
    color: white;
    list-style-type: none;
}
ul li {
    font-style: normal;
    list-style-type: none;
}
body {
   background-color: #a59be0;
   padding: 40px;
   background-image:url("../img/background.jpg") !important;
   background-size: cover;
   background-repeat: no-repeat;
}
