.container #profile-pic {
width: 50%;
height: 50%;
margin:0 auto;
}

.container .list-group button {
    text-align:right;
}
/*
.row {
    padding-bottom:200px ;
    padding-top: 2px;
} */

body {
   background-color: rgb(24, 134, 170); 
   padding: 40px;
}